<form action="/restaurants/{{restaurant._id}}/edit" method="post">
  <div class="input-group  d-flex m-3">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">name</span>
      <input type="text" class="form-control" placeholder="name" name="name" aria-describedby="basic-addon1" value="{{restaurant.name}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">name_en</span>
      <input type="text" class="form-control" placeholder="name_en" name="name_en" aria-describedby="basic-addon1" value="{{restaurant.name_en}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">category</span>
      <input type="text" class="form-control" placeholder="category" name="category" aria-describedby="basic-addon1" value="{{restaurant.category}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">image</span>
      <input type="text" class="form-control" placeholder="image" name="image" aria-describedby="basic-addon1" value="{{restaurant.image}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">location</span>
      <input type="text" class="form-control" placeholder="location" name="location" aria-describedby="basic-addon1" value="{{restaurant.location}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">phone</span>
      <input type="text" class="form-control" placeholder="phone" name="phone" aria-describedby="basic-addon1" value="{{restaurant.phone}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">google_map</span>
      <input type="text" class="form-control" placeholder="google_map" name="google_map"
        aria-describedby="basic-addon1" value="{{restaurant.google_map}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">rating</span>
      <input type="number" class="form-control" placeholder="rating" name="rating" aria-describedby="basic-addon1" value="{{restaurant.rating}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">description</span>
      <input type="text" class="form-control" placeholder="description" name="description"
        aria-describedby="basic-addon1" value="{{restaurant.description}}">
    </div>

    <button type="submit" class="btn btn-warning">Save</button>
    <a href="/">Back</a>

  </div>
</form>